<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleIdentifier</key><string>AJ7ETLF2J6.me.alvie.dotfiles</string>
  <key>CFBundleExecutable</key><string>dotfiles-keychain</string>
  <key>CFBundleName</key><string>dotfiles-keychain</string>
  <key>CFBundleVersion</key><string>1</string>
</dict></plist>
