{{- $machineTypeEnv := env "CHEZMOI_MACHINE_TYPE" | trim | lower -}}
{{- $machineType := "" -}}
{{- if ne $machineTypeEnv "" -}}
{{-   $machineType = $machineTypeEnv -}}
{{- else -}}
{{-   $machineType = promptStringOnce . "machineType" "machineType" | trim | lower -}}
{{- end -}}

{{- $installGoEnv := env "CHEZMOI_INSTALL_GO" | trim | lower -}}
{{- $installRustEnv := env "CHEZMOI_INSTALL_RUST" | trim | lower -}}
{{- $installNodeEnv := env "CHEZMOI_INSTALL_NODE" | trim | lower -}}
{{- $installPipxEnv := env "CHEZMOI_INSTALL_PIPX" | trim | lower -}}

{{- $installGo := and (hasKey . "installGo") .installGo -}}
{{- if ne $installGoEnv "" -}}
{{-   $installGo = not (or (eq $installGoEnv "0") (eq $installGoEnv "false") (eq $installGoEnv "no") (eq $installGoEnv "off")) -}}
{{- end -}}

{{- $installRust := and (hasKey . "installRust") .installRust -}}
{{- if ne $installRustEnv "" -}}
{{-   $installRust = not (or (eq $installRustEnv "0") (eq $installRustEnv "false") (eq $installRustEnv "no") (eq $installRustEnv "off")) -}}
{{- end -}}

{{- $installNode := and (hasKey . "installNode") .installNode -}}
{{- if ne $installNodeEnv "" -}}
{{-   $installNode = not (or (eq $installNodeEnv "0") (eq $installNodeEnv "false") (eq $installNodeEnv "no") (eq $installNodeEnv "off")) -}}
{{- end -}}

{{- $installPipx := and (hasKey . "installPipx") .installPipx -}}
{{- if ne $installPipxEnv "" -}}
{{-   $installPipx = not (or (eq $installPipxEnv "0") (eq $installPipxEnv "false") (eq $installPipxEnv "no") (eq $installPipxEnv "off")) -}}
{{- end -}}
encryption = "age"
[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = {{ include "age-recipient.txt" | trim | quote }}

[data]
  machineType = {{ $machineType | quote }}
  personal    = {{ eq $machineType "personal" }}
  work        = {{ eq $machineType "work" }}
  remote      = {{ eq $machineType "remote" }}
  installGo   = {{ $installGo }}
  installRust = {{ $installRust }}
  installNode = {{ $installNode }}
  installPipx = {{ $installPipx }}
