{{- $machineType := promptStringOnce . "machineType" "Machine type (personal/work/remote)" -}}
[data]
  machineType = {{ $machineType | quote }}
  personal    = {{ eq $machineType "personal" }}
  work        = {{ eq $machineType "work" }}
  remote      = {{ eq $machineType "remote" }}
  installGo   = {{ if hasKey . "installGo" }}{{ .installGo }}{{ else }}false{{ end }}
  installRust = {{ if hasKey . "installRust" }}{{ .installRust }}{{ else }}false{{ end }}
  installNode = {{ if hasKey . "installNode" }}{{ .installNode }}{{ else }}false{{ end }}
  installUv   = {{ if hasKey . "installUv" }}{{ .installUv }}{{ else }}false{{ end }}

encryption = "age"
[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1awmaa5hgt6z6mgzrepnls4flehjgu74tqc7fgu0sm4gg5yd30q8swufm3t"
