{{- $identity := include "git-identity.toml.age" | decrypt | fromToml -}}
[user]
    name  = {{ $identity.name | quote }}
    email = {{ $identity.email | quote }}
[core]
    editor = vim
    quotepath = false
[include]
    path = ~/.gitconfig.local
[merge]
    tool = vimdiff
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[pull]
    ff = only
    rebase = yes
[url "git@github.com:"]
	insteadOf = https://github.com/
