#!/bin/bash
# Brewfile hash: {{ include "platform/darwin/Brewfile" | sha256sum }}
brew bundle --no-upgrade --file="{{ .chezmoi.sourceDir }}/platform/darwin/Brewfile" || echo "brew bundle: some packages failed to install"
